/* style.css */
:root {
    --background-color: #fafafa;
    --white: #ffffff;
    --border-color: 112, 112, 112;
    --placeholder-color: #837979;
    --or-text: #8e8e8e;
    --fb-logo: #385175;
    --log-in-button: #0095f6;
    --black: #262626;
    --footer-links: #1e4f7c;
    --copyright-gray: #bfbfbf;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--background-color);
}

.log-in {
    background: var(--white);
    width: 90%;
    max-width: 35rem;
    margin: auto;
    border: 0.1rem solid rgba(var(--border-color), 0.5);
    padding: 2rem;
    border-radius: 10px;
}

.log-in-form input {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 0.8rem;
}

.log-in-button {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background: var(--log-in-button);
    color: var(--white);
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}
